/* mixins.scss */

@use '~/assets/scss/general/variables' as *;

@mixin line-clamp($lines: 1) {
	@if $lines <= 1 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $lines;
		text-overflow: ellipsis;
	}
}

@mixin cursor-pointer {
	cursor:
		url('~/assets/images/cursor-pointer@1x.png') 15 10,
		url('~/assets/images/cursor-pointer@2x.png') 15 10,
		auto;
}

@mixin cursor-default {
	cursor:
		image-set(
			url('~/assets/images/cursor@1x.png') 1x,
			url('~/assets/images/cursor@2x.png') 2x
		),
		auto;
}

@mixin pattern {
	background-image: url('~/assets/images/pattern-grey.png');
	background-position: 0 0;
	background-size: 6px;

	html.dark & {
		background-image: url('~/assets/images/pattern-grey-dark.png');
	}
}

@mixin font-base {
	font-family: Nunito, Arial, Helvetica, sans-serif;
}

@mixin typo-display-1 {
	font-size: 56px;
	font-weight: 900;
	line-height: 1;

	@media screen and (min-width: $md) {
		font-size: 72px;
	}

	@media screen and (min-width: $lg) {
		font-size: 88px;
	}
}

@mixin typo-display-2 {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.1;
}

@mixin typo-display-3 {
	font-size: 28px;
	font-weight: 800;
	line-height: 1.2;

	@media screen and (min-width: $lg) {
		font-size: 32px;
	}
}

@mixin typo-paragraph-1 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.35;
}

@mixin typo-paragraph-2 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.35;

	@media screen and (min-width: $lg) {
		font-size: 20px;
	}
}

@mixin typo-paragraph-3 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
}

@mixin typo-paragraph-4 {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
}
